.dinfo{
    background-color: lightslategray;
    margin-right: 0px;
    margin-left: 0px;
    
}

/*.del-info{
    font-size: 25px;
    text-align: center;
   padding: 20px;
}
.progress{
    width: 50%!important;
    margin-left: 25%;
    margin-top: 30px;
}*/